/*Stylesheet*/


/*Typewriter font*/
@font-face {
    font-family: 'Tox Typewriter';
    src: url('Fonts/ToxTypewriter.woff2') format('woff2'),
        url('Fonts/ToxTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*Punch Label*/
@font-face {
    font-family: 'Punch Label';
    src: url('Fonts/PunchLabel.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*Pink Floyd Font*/
@font-face {
    font-family: 'Jayadhira LILA EE 0.1';
    src: url('JayadhiraLILAEE01.eot');
    src: url('JayadhiraLILAEE01.eot?#iefix') format('embedded-opentype'),
        url('Fonts/JayadhiraLILAEE01.woff2') format('woff2'),
        url('Fonts/JayadhiraLILAEE01.woff') format('woff'),
        url('Fonts/JayadhiraLILAEE01.ttf') format('truetype'),
        url('Fonts/JayadhiraLILAEE01.svg#JayadhiraLILAEE0.1') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Pink Floyd the Wall-paper*/
body {
  font-family: 'Tox Typewriter', Fallback, "Tox Typewriter";
 background-image: url("images/background2.jpg");
 background-color: #FFFFFF;
 background-size: auto 15% ;
}


